body {
  background: radial-gradient(#e3ded4, transparent);
}
button {
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
  border-radius: 3px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
#buttonDiv button {
  margin: 1rem;
}
